# 100 Python Questions with Solutions

Here are 100 Python questions with solutions, categorized by concept, to help you improve your coding skills.

### 📌 Topics Covered:
- Variables and Data Types  
- Loops and Conditional Statements  
- Functions  
- Lists, Tuples, Dictionaries, Sets  
- String Manipulation  
- Basic File Handling  
- Comprehensions  
- Error Handling  
- And more...

### ✅ Perfect For:
- Self-study  
- Interview preparation  
- Python revision  

---

**GitHub:** [github.com/Misticshubh17](https://github.com/Misticshubh17)

### Basic Syntax and Data Types

1. Write a program to print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

2. Declare a variable and print its value.

In [3]:
a = 67
print(a)

67

3. Write a program to swap two numbers.

In [5]:
a = 4
b = 7
print("Before: ", a, b)

a,b = b,a
print("After Swap: ", a, b)

Before:  4 7
After Swap:  7 4

4. Write a program to check if a number is even or odd.

In [7]:
n = int(input("Enter a number. ")) # Taking a number as input and type casting it into an int.
if n%2 == 0:
    print('Even')
else:
    print('Odd')

Enter a number.  33

Odd

5. Write a program to check if a number is positive, negative, or zero.

In [9]:
n = int(input("Enter a number. "))
if n > 0:
    print('Positive')
elif n < 0:
    print('Negative')
else:
    print('Zero')

Enter a number.  0

Zero

6. Convert a temperature from Celsius to Fahrenheit.

In [11]:
c = int(input('Temperature in celsius:- '))
f = (c * 9/5) + 32
print('Temperature in fahrenheit :-', f)

Temperature in celsius:-  25

Temperature in fahrenheit :- 77.0

7. Convert a string to uppercase and lowercase.

In [13]:
s = "Python"
lower = s.lower()
upper = s.upper()
print("Uppercase - ", upper, "\nLowercase - ", lower)

Uppercase -  PYTHON
Lowercase -  python

8. Find the length of a given string.

In [15]:
string = "Python"
length = len(string)
print(length)

6

9. Extract the first three characters from a string.

In [17]:
string = "PYTHON"
char = string[:3]
print(char)

PYT

10. Concatenate two strings without using the + operator.

In [19]:
s1 = "Jupyter"
s2 = "Notebook"
conc = "".join([s1,s2])
print(conc)

JupyterNotebook

### Control Flow (Loops and Conditions)

11. Print all numbers from 1 to 100.

In [21]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

12. Print all even numbers from 1 to 50.

In [23]:
for i in range(2,51,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

13. Print all odd numbers from 1 to 50.

In [25]:
for i in range(1,51,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

14. Write a program to check if a number is prime.

In [27]:
n = int(input())

if n<1:
    print("Not a Prime Number")
else:
    for i in range(2,int(n**0.5)+1):
        if n%i == 0:
            print("Not a Prime Number")
            break
    else:
        print("Prime Number")

 6

Not a Prime Number

15. Find the sum of numbers from 1 to N.

In [29]:
n = int(input("n ="))
s = 0
for i in range(1,n+1):
    s += i
    
print("sum =", s)

n = 5

sum = 15

16. Find the factorial of a number using a loop.

In [31]:
n = int(input())
fac = 1
for i in range(1,n+1):
    fac *= i
    
print(fac)

 5

120

17. Find the factorial of a number using recursion.

In [33]:
N = int(input())
def fac(n):
    if n==1:
        return 1
    return n * fac(n-1)

print(fac(N))

 5

120

18. Check if a given year is a leap year.

In [35]:
year = int(input("Enter a year. "))

if (year%4 == 0 and year%100 != 0) or year%400 == 0:
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year.  2100

Not a Leap Year

19. Print the Fibonacci sequence up to N terms.

In [37]:
n = int(input("Enter number of terms: "))

a, b = 0, 1
count = 0

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci sequence up to", n, "term:")
    print(a)
else:
    print("Fibonacci sequence:")
    while count < n:
        print(a, end=' ')
        a, b = b, a + b
        count += 1

Enter number of terms:  17

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

20. Count the number of vowels in a string.

In [39]:
count = 0
string = "cookies"
for i in string:
    if i in ('a', 'e', 'i', 'o', 'u'):
        count += 1

print(count)

4

### Functions

21. Write a function to add two numbers.

In [41]:
def add(a,b):
    return a + b

print(add(a=7,b=8))

15

22. Write a function to find the maximum of three numbers.

In [43]:
def max_num(a,b,c):
    if a>b and a>c:
        print(a)
    elif b>c:
        print(b)
    else:
        print(c)

max_num(91,72,56)

91

23. Write a function to reverse a string.

In [45]:
string = "reverse"

def rev(s):
    return s[::-1]
    
print(rev(string))

esrever

24. Write a function to check if a string is a palindrome.

In [47]:
def palindrome(s):
    if s == s[::-1]:
        print("Palindrome.")
    else:
        print("Not a Palindrome.")

palindrome("level")

Palindrome.

25. Write a function that returns the square of a number.

In [49]:
def square(n):
    return n**2

print(square(11))

121

26. Write a function to count the number of words in a string.

In [51]:
s = input()
def count_words(s):
    i=0
    for _ in s.split():
        i+=1
    return i

print(f"Count of word in ({s}) -> {count_words(s)}")

 This is a string

Count of word in (This is a string) -> 4

27. Write a function to check if a number is an Armstrong number.

In [53]:
def arm_num():
    num = input()
    n = len(num)
    res = 0
    for i in num:
        res += int(i)**n

    if res == int(num):
        return f'Yes, {num} is a armstrong number.'
    else:
        return f'{num} is not a armstrong number.'

print(arm_num())

 153

Yes, 153 is a armstrong number.

28. Write a function to find the LCM of two numbers.

In [55]:
def get_max(a, b):
    return a if a > b else b

def get_min(a, b):
    return a if a < b else b

def lcm(a, b):
    m = get_max(a, b)
    n = get_min(a, b)
    for i in range(m, a * b + 1, m):
        if i % n == 0:
            return i

a = int(input("Enter first num: "))
b = int(input("Enter second num: "))

print(f"LCM of {a} and {b} is {lcm(a,b)}")

Enter first num:  8
Enter second num:  16

LCM of 8 and 16 is 16

29. Write a function to find the GCD of two numbers.

In [57]:
def gcd(a, b):
    gcd_val = abs(a * b) // lcm(a, b)
    return f"GCD of {a} and {b} is {gcd_val}"

print(gcd(24, 26))

GCD of 24 and 26 is 2

30. Write a function to check if a given number is a perfect number.

In [59]:
def perfect_num(n):
    if n > 0:
        sum = 0
        for i in range(1, n):
            if n % i == 0:
                sum += i
        if sum == n:
            return "Yes"
        else:
            return "No"
    else:
        return "Number is negative"

# Example usage
print(perfect_num(6))   # Output: Yes

Yes

### Lists

31. Create a list of five numbers and print them.

In [61]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

32. Find the maximum and minimum value in a list.

In [63]:
L = [54, 78, 23, 17, 85, 35]

sort_L = sorted(L)
min_val = sort_L[0]
max_val = sort_L[-1]

print(f"Maximum value in {L} -> {max_val}.\nMinimum value in {L} -> {min_val}")

Maximum value in [54, 78, 23, 17, 85, 35] -> 85.
Minimum value in [54, 78, 23, 17, 85, 35] -> 17

33. Find the sum of all elements in a list.

In [65]:
my_list = [1, 2, 3, 4, 5, 6]
sum = 0
for i in my_list:
    sum += i

print(sum)

21

34. Reverse a list without using reverse().

In [67]:
LIST = [1,2,3,4,5]
res = []
n = len(LIST) - 1 # Start from the last index

while n >= 0:
    res.append(LIST[n])  # Add element from end
    n -= 1               # Move one step backward

print(res)

[5, 4, 3, 2, 1]

35. Find the second largest number in a list.

In [69]:
L = [49, 55, 21, 62, 93, 30]

sort_L = sorted(L)
sec_lar_num = sort_L[-2]

print(f"Second largest number in {L} -> {sec_lar_num}")

Second largest number in [49, 55, 21, 62, 93, 30] -> 62

36. Remove all duplicates from a list.

In [71]:
new_l = [1, 1, 2, 3, 1, 2]
rem_l = list(set(new_l))
print(rem_l)

[1, 2, 3]

37. Sort a list in ascending and descending order.

In [73]:
arr = [5, 3, 1, 4]

def reverse(arr):
    res = []
    n = len(arr) - 1 

    while n >= 0:
        res.append(arr[n])
        n -= 1           
    return res
    
def sorting(arr, order = "asc"):
    for i in range(1, len(arr)):
        key = arr[i]
        j = i - 1

        while j >= 0 and arr[j] > key:
            arr[j + 1] = arr[j]
            j -= 1

        arr[j + 1] = key

    if order == "desc":
        return reverse(arr)
    else:
        return arr

print(f"Ascending Order:- {sorting(arr, "asc")}")
print(f"Descending Order:- {sorting(arr, "desc")}")

Ascending Order:- [1, 3, 4, 5]
Descending Order:- [5, 4, 3, 1]

38. Count the occurrences of a given element in a list.

In [75]:
new_l = [1, 1, 2, 3, 1, 2]

count_ = new_l.count(1)
print(count_)

3

39. Find the intersection of two lists.

In [77]:
l1 = [1, 2, 3, 4, 5]
l2 = [2, 4, 5]

intersection = [i for i in l1 if i in l2]  # using list comprehension
print(intersection)

[2, 4, 5]

40. Merge two sorted lists into a single sorted list.

In [79]:
l1 = [1,2,3,4,5]
l2 = [11,12,13,14,15]

def merge(list1, list2):
    result = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            result.append(list1[i])
            i += 1
        else:
            result.append(list2[j])
            j += 1

    result.extend(list1[i:])
    result.extend(list2[j:])
    return result

print(merge(l1,l2))

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

### Tuples and sets

41. Create a tuple and access its elements.

In [81]:
t = (1,2,3)
print(t)

(1, 2, 3)

42. Convert a list into a tuple.

In [83]:
l1 = [7,8,9,11,5]
tup = tuple(l1)
print(type(tup))

<class 'tuple'>

43. Find the index of an element in a tuple.

In [85]:
def find_ind(t, a):
    index = 0
    for i in t:
        if a == i:
            break
        else:
            index += 1
    return index

print(find_ind((1,2,3,4,5), 3)) # tuple t=(1,2,3,4,5)

2

44. Count the occurrences of an element in a tuple.

In [87]:
my_tuple = (1, 2, 3, 2, 4, 2, 5, 1)

count_ele = my_tuple.count(2)
print(count_ele)

3

45. Create a set and add elements to it.

In [89]:
thisset = set([1,2,3])
thisset.add(4)
print(thisset)

{1, 2, 3, 4}

46. Remove an element from a set.

In [91]:
thisset.remove(4)
print(thisset)

{1, 2, 3}

47. Find the union of two sets.

In [93]:
s1 = {'a', 'b', 'c'}
s2 = {1, 2, 3}

s3 = s1.union(s2)
print(s3)

{'b', 1, 2, 3, 'a', 'c'}

48. Find the intersection of two sets.

In [95]:
s1 = {1,2,3,4,5}
s2 = {2,3,5}

s3 = s1.intersection(s2)
print(s3)

{2, 3, 5}

49. Find the difference between two sets.

In [97]:
s1 = {1,2,3,4,5}
s2 = {2,3,5}

s3 = s1.difference(s2)
print(s3)

{1, 4}

50. Check if a set is a subset of another set.

In [99]:
s1 = {1,2,3,4,5}
s2 = {2,3,5}

res = s2.issubset(s2)
print(res)

True

### Dictionaries

51. Create a dictionary and print its keys and values.

In [101]:
dict1 = {1:"one", 2:"two", 3:"three"}
print(dict1)

{1: 'one', 2: 'two', 3: 'three'}

52. Add an item to a dictionary.

In [103]:
dict1 = {1:"one", 2:"two", 3:"three"}
dict1[4]="four"
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

53. Remove an item from a dictionary.

In [105]:
dict_ = {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
dict_.pop(2)
print(dict_)

{1: 'one', 3: 'three', 4: 'four'}

54. Find a value associated with a given key.

In [107]:
dict_ = {1: 'one', 2: 'two', 3: 'three', 4: 'four'}
print(dict_.get(4))

four

55. Check if a key exists in a dictionary.

In [109]:
key = "d"
dict_ = {'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four'}

if key in dict_.keys():
    print("Yes") 
else:
    print("No")

Yes

56. Merge two dictionaries.

In [111]:
dict1 = {"a":"one", "b":"two"}
dict2 = {"c":"three", "d":"four"}

dict3 = dict1 | dict2
print(dict3)

{'a': 'one', 'b': 'two', 'c': 'three', 'd': 'four'}

57. Sort a dictionary by its keys.

In [113]:
country_capitals = {
    "India": "New Delhi",
    "Brazil": "Brasília",
    "Australia": "Canberra",
    "Japan": "Tokyo",
    "China": "Beijing",
    "Russia": "Moscow",
    "United Kingdom": "London",
    "South Africa": "Pretoria",
    "Italy": "Rome"
}

sorted_by_keys = dict(sorted(country_capitals.items()))
print(sorted_by_keys)

{'Australia': 'Canberra', 'Brazil': 'Brasília', 'China': 'Beijing', 'India': 'New Delhi', 'Italy': 'Rome', 'Japan': 'Tokyo', 'Russia': 'Moscow', 'South Africa': 'Pretoria', 'United Kingdom': 'London'}

58. Sort a dictionary by its values.

In [115]:
country_capitals = {
    "India": "New Delhi",
    "Brazil": "Brasília",
    "Australia": "Canberra",
    "Japan": "Tokyo",
    "China": "Beijing",
    "Russia": "Moscow",
    "United Kingdom": "London",
    "South Africa": "Pretoria",
    "Italy": "Rome"
}

sorted_by_values = dict(sorted(country_capitals.items(), key=lambda item: item[1]))
print(sorted_by_values)

{'China': 'Beijing', 'Brazil': 'Brasília', 'Australia': 'Canberra', 'United Kingdom': 'London', 'Russia': 'Moscow', 'India': 'New Delhi', 'South Africa': 'Pretoria', 'Italy': 'Rome', 'Japan': 'Tokyo'}

59. Count the occurrences of each character in a string using a dictionary.

In [117]:
List = [1,1,2,3,2,1,4,2,1]
occur = {}

for i in List:
    occur[i] = occur.get(i, 0) + 1

print(occur)

{1: 4, 2: 3, 3: 1, 4: 1}

60. Convert two lists into a dictionary.

In [119]:
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d','e']

new_dict = {}
for i,j in zip(l1,l2):
    new_dict[i] = j

print(new_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

### String Manipulation

61. Reverse a string without using [::-1].

In [121]:
s = "Reverse a string"

def reverse(s):
    res = ''
    i = len(s)-1
    while i >= 0:
        res += s[i]
        i -= 1
    return res

reverse(s)

'gnirts a esreveR'

62. Remove all spaces from a string.

In [123]:
s_ = "      We    are learning         Python     .   "
s__ = s_.split()
s___ = "".join(s__)
print(s___)

WearelearningPython.

63. Replace a substring in a string.

In [125]:
s = "We are learning Python."

def replace(s, old, new):
    st = s.split(' ')
    if old in st:
        i = 0 
        while i < len(st):
            if st[i] == old:
                st[i] = new
                break
            i += 1
    return " ".join(st)

print(replace(s, "are", "were"))

We were learning Python.

64. Find the first non-repeating character in a string.

In [127]:
def first_non_repeating_char(s):
    freq = {}

    # Step 1: Count frequencies
    for ch in s:
        freq[ch] = freq.get(ch, 0) + 1

    # Step 2: Find the first non-repeating character
    for ch in s:
        if freq[ch] == 1:
            return f"First non-repeating character is: '{ch}'"

    return "No non-repeating character found."

string = "aabbcddexf"
print(first_non_repeating_char(string))

First non-repeating character is: 'c'

65. Count the number of words in a string.

In [129]:
s = "We are learning Python."

def count_word(s):
    st = s.split()
    count = len(st)
    return count

print(count_word(s))

4

66. Check if two strings are anagrams.

In [131]:
s1 = 'silent'
s2 = 'listen'

def anagrams(s1, s2):
    if len(s1) != len(s2):
        return 'No'
        
    for i in s2:
        if i in s1:
            continue
        else:
            return 'NO'
    return 'Yes'

print(anagrams(s1,s2))

Yes

67. Find the most frequent character in a string.

In [133]:
string = 'A class is a collection of objects'

freq = {}
for i in string:
    if i != ' ':
        freq[i] = freq.get(i, 0) + 1

# Get the most frequent character using max
freq_char = max(freq.items(), key=lambda item: item[1])[0]

print(f"The most frequent character in ({string}) is '{freq_char}'.")

The most frequent character in (A class is a collection of objects) is 'c'.

68. Remove punctuation from a string.

In [135]:
string = "Well... isn't this amazing? Wait—did you say three pizzas, or four?! Oh no, not again; I'm speechless!"

import re

def remove_pun(text):
    return re.sub(r'[^\w\s]', '', text)

print(remove_pun(string))

Well isnt this amazing Waitdid you say three pizzas or four Oh no not again Im speechless

69. Convert a string into a list of words.

In [137]:
string = 'A class is a collection of objects'

def list_of_words(string):
    word_list = string.split()
    return word_list

print(list_of_words(string))

['A', 'class', 'is', 'a', 'collection', 'of', 'objects']

70. Find the longest word in a sentence.

In [139]:
string = 'A class is a collection of objects'

def longest(string):
    words = list_of_words(string)
    longest_word = max(words, key=len)
    return f"Longest word in a sentence --> {longest_word}"

print(longest(string))

Longest word in a sentence --> collection

### File Handling

71. Write a program to read a file and print its contents.

In [141]:
f = open('Python_text.txt', mode='r')
print(f.read(), f.tell())
f.close()

Python is:

- A high-level language, used in web development, data science, automation, AI and more.
- Known for its readability, which means code is easier to write, understand and maintain.
- Backed by library support, so we don't have to build everything from scratch, there's probably a library that already does what we need. 330

72. Write a program to write data to a file.

In [143]:
data = 'Pyhton Data Structures- Python offers versatile collections of data types, including lists, string, tuples, sets, dictionaries and arrays.'

with open('Python_data_types.txt', mode='w') as f:  # no need to close file
    f.write(data)

with open('Python_data_types.txt', mode='r') as f:  
    print(f.read())

Pyhton Data Structures- Python offers versatile collections of data types, including lists, string, tuples, sets, dictionaries and arrays.

73. Append data to an existing file.

In [145]:
new_line = '\nWriting to a file in Python means saving data generated by your program into a file on your system.'

# Append the new line to the file
with open('Python_data_types.txt', mode='a') as f:  # no need to close file
    f.write(new_line)

# Read and print the file content
with open('Python_data_types.txt', mode='r') as f:  
    print(f.read())

Pyhton Data Structures- Python offers versatile collections of data types, including lists, string, tuples, sets, dictionaries and arrays.
Writing to a file in Python means saving data generated by your program into a file on your system.

74. Count the number of lines in a file.

In [147]:
with open('Python_data_types.txt', 'r') as f:
    lines = f.readlines()
    print(f"Total lines: {len(lines)}")

Total lines: 2

75. Count the number of words in a file.

In [149]:
with open('Python_data_types.txt', 'r') as f:
    lines = f.readlines()
    words = 0
    for line in lines:
        words += len(line.split())  # split() breaks line into words
    print(f"Total words: {words}")

Total words: 37

76. Count the number of characters in a file.

In [151]:
with open('Python_data_types.txt', 'r') as f:
    lines = f.readlines()
    char = 0
    for line in lines:
        char += len(line)  
    print(f"Total characters: {char}")

Total characters: 238

77. Find and replace a word in a file.

In [153]:
with open('example.txt', 'r') as file:
    content = file.read()
    print('Before: ', content)

# Replace the word
content = content.replace('Python', 'Java')

# Write the modified content back to the file
with open('example.txt', 'w') as file:
    file.write(content)

with open('example.txt', 'r') as file:
    print('After: ', file.read())
    
print("Word replaced successfully!")

Before:  Python is one of the most popular programming languages.
After:  Java is one of the most popular programming languages.
Word replaced successfully!

78. Copy the contents of one file to another.

In [155]:
with open('example.txt', 'r') as src:
    content = src.read()

with open('example_2.txt', 'w') as dst:
    dst.write(content)

print("Content copied successfully.")

Content copied successfully.

79. Check if a file exists in a directory.

In [157]:
import os

if os.path.exists('example_2.txt'):
    print("File exists!")
else:
    print("File does not exist.")

File exists!

80. Remove a file using Python.

In [159]:
import os

file_path = 'example_2.txt'

if os.path.exists(file_path):
    os.remove(file_path)
    print("File removed successfully.")
else:
    print("File does not exist.")

File removed successfully.

### Exception Handling

81. Write a program that handles division by zero.

In [161]:
def division(a, b):
    return a / b

try:
    d = division(5, 0)
except ZeroDivisionError:
    print('Division by zero is invalid.')
else:
    print(d)

Division by zero is invalid.

82. Handle an exception when accessing a non-existent list index.

In [163]:
def find_ele(arr, index):
    return arr[index]
    
try:
    a = find_ele(arr=[1,2,3,4], index=5)

except IndexError:
    print("Invalid index! Please check the list range.")

else:
    print(a)

Invalid index! Please check the list range.

83. Handle a KeyError when accessing a dictionary.

In [165]:
d = {'x': 100, 'y': 200}

try:
    key = 'z'
    a = d[key]

except KeyError:
    print(f'There is no such key({key}) in {d}')

else:
    print(a)

There is no such key(z) in {'x': 100, 'y': 200}

84. Handle a ValueError when converting a string to an integer.

In [167]:
try:
    def convert(a):
        b = int(a)
        return b

    convert("a")

except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'a'

85. Handle multiple exceptions in a single try block.

In [169]:
try:
    a = 10
    b = '5'
    result = a / b  # This will raise TypeError

except ZeroDivisionError:
    print("You can't divide by zero!")

except TypeError:
    print("You can't divide a number by a string!")

except Exception as e:
    print(f"Some other error occurred: {e}")

else:
    print(f"Result: {result}")

You can't divide a number by a string!

86. Write a program that raises an exception when an invalid input is given.

In [171]:
def get_age():
    age_input = input("Enter your age: ")

    if not age_input.isdigit():
        raise ValueError("Invalid input! Age must be a positive integer.")

    age = int(age_input)
    print(f"Your age is {age}")

try:
    get_age()

except ValueError as e:
    print(f"Error: {e}")

Enter your age:  -20

Error: Invalid input! Age must be a positive integer.

87. Write a program that uses finally for cleanup operations.

In [173]:
def read_file(filename):
    try:
        f = open(filename, 'r')
        # Intentionally cause an error (e.g., reading from a non-existent file or bad format)
        content = f.read()
        print(content)
    
    except FileNotFoundError:
        print("Error: The file was not found.")
    
    finally:
        # Cleanup action
        print("Closing the file (if it was opened).")
        try:
            f.close()
        except:
            pass  # If file wasn't opened, skip closing

# Call the function with a test filename
read_file('example.txt')

Java is one of the most popular programming languages.
Closing the file (if it was opened).

88. Handle a file not found error.

In [175]:
try:
    with open('test.txt') as f:
        pass
except FileNotFoundError as e:
    print(e)

[Errno 2] No such file or directory: 'test.txt'

89. Handle a TypeError when performing an invalid operation.

In [177]:
try:
    a = "10"
    b = 5
    result = a + b  # This will raise TypeError: can't concatenate str and int
except TypeError as e:
    print(f"TypeError occurred: {e}")
else:
    print(f"Result: {result}")

TypeError occurred: can only concatenate str (not "int") to str

90. Write a custom exception and raise it.

In [179]:
# Define a custom exception
class NegativeNumberError(Exception):
    def __init__(self, number):
        super().__init__(f"Negative numbers are not allowed: {number}")

# Use the custom exception
def check_number(n):
    if n < 0:
        raise NegativeNumberError(n)
    else:
        print(f"The number {n} is valid.")

# Test with try-except
try:
    num = int(input("Enter a number: "))
    check_number(num)

except NegativeNumberError as e:
    print(f"Custom Exception Caught → {e}")
except ValueError:
    print("Please enter a valid integer.")

Enter a number:  -5

Custom Exception Caught → Negative numbers are not allowed: -5

### OOP(Oject-Oriented Programming)

91. Create a class with an __init__ method and instantiate an object.

In [181]:
class Demo:
    def __init__(self):
        print("This is a demo class.")

obj = Demo()

This is a demo class.

92. Add a method to a class and call it.

In [183]:
import random

class PetPotato:
    moods = ['happy', 'sleepy', 'grumpy', 'confused']

    def __init__(self, name):
        self.name = name
        self.mood = random.choice(self.moods)
        print(f"🥔 A wild potato named {self.name} has appeared! Mood: {self.mood}")

    def feed(self, snack):
        if snack.lower() == 'butter':
            self.energy += 2
            print(f"{self.name} screams in delight: 'BUTTER ME UP!' 🍽️")
        else:
            self.mood = 'grumpy'
            print(f"{self.name} frowns: 'I only eat butter. What is this {snack}? Disgusting.'")

    def sleep(self):
        self.mood = 'sleepy'
        print(f"{self.name} curls up in a sack and dozes off... 💤")

spuddy = PetPotato("Spuddy")
spuddy.feed("veggies")
spuddy.sleep()

🥔 A wild potato named Spuddy has appeared! Mood: grumpy
Spuddy frowns: 'I only eat butter. What is this veggies? Disgusting.'
Spuddy curls up in a sack and dozes off... 💤

93. Create a class with private variables.

In [185]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance  # private variable

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

# Create an object
account = BankAccount("Alice", 1000)

# Accessing methods
account.deposit(500)
print(account.get_balance())  # Outputs: 1500

# Trying to access private variable directly
try:
    print(account.__balance)  # AttributeError
except AttributeError as e:
    print(e)

1500
'BankAccount' object has no attribute '__balance'

94. Implement a class with inheritance.

In [187]:
class CAR:
    def basic_features(self):
        print('*Pre-tentioned Seat belts\n*Airbags\n*Anti-Lock Braking System\n*Turbocharged engines\n')

class LAMBO(CAR):   
    def __init__(self, model, color):
        self.color = color
        self.model = model

    def features(self):
        print(f'Model- {self.model}\nColor- {self.color}\nTop Speed- 325kmph\nEngine- 5.2-liter V10 engine\nTransmission- 7-speed dual-clutch automatic\n')

car = LAMBO('Lamborghini Huracan', 'Nero Helene')

car.basic_features()
car.features()

*Pre-tentioned Seat belts
*Airbags
*Anti-Lock Braking System
*Turbocharged engines

Model- Lamborghini Huracan
Color- Nero Helene
Top Speed- 325kmph
Engine- 5.2-liter V10 engine
Transmission- 7-speed dual-clutch automatic

95. Override a method in a subclass.

In [189]:
class Animal:
    def speak(self):
        print("The animal makes a sound.")

class Dog(Animal):
    def speak(self):  # This overrides Animal's speak()
        print("The dog barks.")

# Create an object of Dog
d = Dog()
d.speak()

The dog barks.

96. Use super() to call the parent class method.

In [191]:
class Parent:
    def show(self):
        print("This is the Parent class method.")

class Child(Parent):
    def show(self):
        print("This is the Child class method.")
        super().show()  # Calling the Parent's show method

# Create an object of Child class
obj = Child()
obj.show()

This is the Child class method.
This is the Parent class method.

97. Implement a class with multiple inheritance.

In [193]:
class A:
    def a(self):
        print('This is class A.')

class B:
    def b(self):
        print('This is class B.')

class C(A, B):
    def __init__(self):
        print('This is class C.')


obj = C()

obj.a()
obj.b()

This is class C.
This is class A.
This is class B.

98. Create a class with a static method.

In [195]:
class MathOperations:
    @staticmethod
    def add(a, b):
        return a + b

# You can call the static method without creating an object
result = MathOperations.add(5, 3)
print(f"Result: {result}")

Result: 8

99. Implement operator overloading in a class.

In [197]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    # Overload the '+' operator
    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"

# Create two Point objects
p1 = Point(2, 3)
p2 = Point(4, 5)

# Add them using overloaded +
p3 = p1 + p2

print("Result:", p3)

Result: (6, 8)

100. Create a class with a class method and demonstrate its usage.

In [199]:
class Student:
    total_students = 0  # Class variable to keep track of student count

    def __init__(self, name):
        self.name = name
        Student.total_students += 1

    @classmethod
    def get_total_students(cls):
        """Return the total number of Student instances created."""
        return cls.total_students

# Creating instances of Student
s1 = Student("Alice")
s2 = Student("Bob")
s3 = Student("Charlie")

# Calling the class method using the class name
print("Total students:", Student.get_total_students())

# Alternatively, you can call a class method from an instance as well
print("Total students via instance:", s1.get_total_students())

Total students: 3
Total students via instance: 3